<div [class.right-panel-active]="rightPanelActive" class="container">
    <h1>
        Bienvenido a TeamFlow
    </h1>
    @if (registerError !== '') {
    <div class="errorAuth">{{registerError}}</div>
    } @else if (registerOk !== '') {
    <div class="validAuth">{{registerOk}}</div>
    } @else if (loginError !== '') {
        <div class="errorAuth">{{loginError}}</div>
    } @else if (loginOk !== '') {
        <div class="validAuth">{{loginOk}}</div>
    }
    <div class="overlay-form-container">
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 class="overlay-panel__title">¡Bienvenido!</h1>
                    <p>
                        ¿Eres nuevo por aquí?
                        Regístrate en un instante y comienza a explorar.
                    </p>
                    <button (click)="rightPanelActive = false" class="ghost">Registrarse</button>
                </div>
                <div class="overlay-panel overlay-left">
                    <h1 class="overlay-panel__title">¡Bienvenido de nuevo!</h1>
                    <p>
                        Inicia sesión para acceder a tu cuenta
                    </p>
                    <button (click)="rightPanelActive = true" class="ghost">Iniciar sesión</button>
                </div>
            </div>
        </div>
        <div class="form-container sign-up-container">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()">
                <h1 class="form__title">Crear cuenta</h1>
                @for (errorMessage of getErrorSignUpFormMessage('nombre_usuario'); track $index) {
                <div class="alert">
                    {{errorMessage}}
                </div>
                }
                <input id="nameSignUp" name="nameSignUp" type="text" placeholder="Nombre"
                    formControlName="nombre_usuario">
                @for (errorMessage of getErrorSignUpFormMessage('apellidos_usuario'); track $index) {
                <div class="alert">
                    {{errorMessage}}
                </div>
                }
                <input id="surnamesSignUp" name="surnamesSignUp" type="text" placeholder="Apellidos"
                    formControlName="apellidos_usuario">
                @for (errorMessage of getErrorSignUpFormMessage('correo_usuario'); track $index) {
                <div class="alert">
                    {{errorMessage}}
                </div>
                }
                <input id="emailSignUp" name="emailSignUp" type="text" placeholder="Correo"
                    formControlName="correo_usuario">
                @for (errorMessage of getErrorSignUpFormMessage('contraseña_usuario'); track $index) {
                <div class="alert">
                    {{errorMessage}}
                </div>
                }
                <input id="passwordSignUp" name="passwordSignUp" type="password" placeholder="Contraseña"
                    formControlName="contraseña_usuario">
                <button>Crear cuenta</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignInForm()">
                <h1 class="form__title">Iniciar sesión</h1>
                @for (errorMessage of getErrorSignInFormMessage('correo_usuario'); track $index) {
                <div class="alert">
                    {{errorMessage}}
                </div>
                }
                <input id="emailSignIn" name="emailSignIn" type="text" placeholder="Correo"
                    formControlName="correo_usuario">
                @for (errorMessage of getErrorSignInFormMessage('contraseña_usuario'); track $index) {
                <div class="alert">
                    {{errorMessage}}
                </div>
                }
                <input id="passwordSignIn" name="passwordSignIn" type="password" placeholder="Contraseña"
                    formControlName="contraseña_usuario">
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>