/* Estilos globales */

/* Autohospedar la fuente ---> Mejor rendimiento al cargar fuentes */
@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat.woff2');
    font-weight: 400, 800;
    font-display: swap;
}

body {
    font-family: "Montserrat", sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    min-height: 100vh;
}